**Author:** Maciej Tarsa <br>
**Date:** 27 December 2020

# Demographic Data Analyzer

This is the implementation of the project from Data Analysis with Python course at freeCodeCamp.org

### Assignment

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database.

You must use Pandas to answer the following questions:

- How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)
- What is the average age of men?
- What is the percentage of people who have a Bachelor's degree?
- What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
- What percentage of people without advanced education make more than 50K?
- What is the minimum number of hours a person works per week?
- What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
- What country has the highest percentage of people that earn >50K and what is that percentage?
- Identify the most popular occupation for those who earn >50K in India.

### Solution

In [1]:
import pandas as pd

In [54]:
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df['race'].value_counts()

    # What is the average age of men?
    # I used a round function to round the value to the nearest tenth
    average_age_men = round(df.loc[df['sex'] == 'Male']['age'].mean(),1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round(len(df.loc[df['education'] == 'Bachelors'])/len(df)*100,1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?    
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

    # percentage with salary >50K
    higher_education_rich = round(len(higher_education.loc[higher_education['salary'] == '>50K'])/len(higher_education)*100,1)
    lower_education_rich = round(len(lower_education.loc[lower_education['salary'] == '>50K'])/len(lower_education)*100,1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = len(df.loc[df['hours-per-week'] == 1])
    num_min_workers_rich = len(df.loc[df['hours-per-week'] == 1].loc[df['salary'] == '>50K'])
    rich_percentage = round(num_min_workers / num_min_workers_rich , 1)

    # What country has the highest percentage of people that earn >50K?
    # Use a series with percent values
    perc = df.loc[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()*100
    highest_earning_country = perc.idxmax()
    highest_earning_country_percentage = round(perc.max(),1)

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

### Test the solution

In [55]:
calculate_demographic_data()

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'higher_education_rich': 46.5,
 'lower_education_rich': 17.4,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.9,
 'top_IN_occupation': 'Prof-specialty'}

## Code elaboration

In this section, I include the code I used to arrive at the solutions to each section

In [2]:
# first, read the data into a dataframe
df = pd.read_csv('adult.data.csv')

##### How many people of each race

In [3]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

##### Average age of men

In [4]:
# To select just males, I can use
df.loc[df['sex'] == 'Male']

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [5]:
# and then choose age and mean value
df.loc[df['sex'] == 'Male']['age'].mean()

39.43354749885268

In [6]:
# now I just need to round it to 1 decimal place
round(df.loc[df['sex'] == 'Male']['age'].mean(),1)

39.4

##### Percentage of people with bachelors degree

In [7]:
# I need two values here
# 1 the total no of records
len(df)

32561

In [8]:
# 2 the number of people with Bachelors as education
len(df.loc[df['education'] == 'Bachelors'])

5355

In [9]:
# now I just need to divide 2 by 1 and round it to 1 decimal place
round(len(df.loc[df['education'] == 'Bachelors'])/len(df)*100,1)

16.4

##### Percentage of people with advanced education who make more than 50k and without it who make more than 50k

In [10]:
# First, I am going to get a dataframe of all people who have an advanced degree
# I can use isin() function
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [11]:
# now i just need to devide the ones who earn more than 50k by the number in total
round(len(higher_education.loc[higher_education['salary'] == '>50K'])/len(higher_education)*100,1)

46.5

In [12]:
# for people without advanced degree, I can use negation ~
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

In [13]:
# and do the same as for higher education
round(len(lower_education.loc[lower_education['salary'] == '>50K'])/len(lower_education)*100,1)

17.4

##### Minimum number of hours a person works per week

In [14]:
# Use min() function on the specific column
df['hours-per-week'].min()

1

##### Percentage of people who work minimum hours and earn more than 50k

In [15]:
# start with number of people who work 1 hour per week
num_min_workers = len(df.loc[df['hours-per-week'] == 1])

In [16]:
# then number of those who also earn more than 50k
num_min_workers_rich = len(df.loc[df['hours-per-week'] == 1].loc[df['salary'] == '>50K'])

In [17]:
# and divide one by the other to get a percentage value
round(num_min_workers / num_min_workers_rich , 1)

10.0

##### Country with highest percentage of people that earn over 50k and the percentage

In [32]:
# create a second dataframe that would contain only people who earn over 50K
df2 = df.loc[df['salary'] == '>50K']
# I can then sum these up using value_counts()
df2['native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
China                   20
Taiwan                  20
Iran                    18
South                   16
France                  12
Puerto-Rico             12
Poland                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Scotland                 3
Guatemala                3
Thailand                 3
Hungary                  3
Peru                     2
Nicaragua                2
Columbia                 2
Trinadad&Tobago          2
Dominican-Republic       2
Laos                     2
Honduras                 1
Name: native-country, dtype: int64

In [33]:
# to get the percent value, I need to divide a series with people who earn over 50K by a series of all the people
perc = df2['native-country'].value_counts() / df['native-country'].value_counts()*100

In [34]:
# and to use only one dataframe
perc = df.loc[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()*100

In [35]:
perc

?                             25.042882
Cambodia                      36.842105
Canada                        32.231405
China                         26.666667
Columbia                       3.389831
Cuba                          26.315789
Dominican-Republic             2.857143
Ecuador                       14.285714
El-Salvador                    8.490566
England                       33.333333
France                        41.379310
Germany                       32.116788
Greece                        27.586207
Guatemala                      4.687500
Haiti                          9.090909
Holand-Netherlands                  NaN
Honduras                       7.692308
Hong                          30.000000
Hungary                       23.076923
India                         40.000000
Iran                          41.860465
Ireland                       20.833333
Italy                         34.246575
Jamaica                       12.345679
Japan                         38.709677
Laos                          11.111111
Mexico                         5.132193
Nicaragua                      5.882353
Outlying-US(Guam-USVI-etc)          NaN
Peru                           6.451613
Philippines                   30.808081
Poland                        20.000000
Portugal                      10.810811
Puerto-Rico                   10.526316
Scotland                      25.000000
South                         20.000000
Taiwan                        39.215686
Thailand                      16.666667
Trinadad&Tobago               10.526316
United-States                 24.583476
Vietnam                        7.462687
Yugoslavia                    37.500000
Name: native-country, dtype: float64

In [36]:
# now, juct get the max value
perc.max()

41.86046511627907

In [37]:
# and the label
perc.idxmax()

'Iran'

##### Most populat occupation in India for those earning >50K

In [53]:
# this will be a combination of two conditions in loc() with value_counts() and idxmax()
df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()

'Prof-specialty'